@{
    decimal totalLocal = (decimal)ViewBag.totalLocal;
    decimal totalExtranjera = (decimal)ViewBag.totalExtranhera;
}


<div class="row">
    <div class="col-12">
        <label>Total Local</label>
        <b>@totalLocal</b>
        <label>Total Local</label>
        <b>@totalExtranjera</b>
    </div>
</div>